.articles{
    background-color: $very-light-gray;
    display: grid;
    padding: 1.5rem;

    &__heading{
        flex-direction: column;
        text-align: center;
    }

}

.article{
    background-color: $very-light-gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    align-items: start;
    grid-gap: 1.5rem;
    justify-content: center;

    &__card{
        flex-direction: column;
        border-radius: 3px;
        overflow: hidden;
        background-color: $white;
    }

    &__img{
        width: auto;
        height: 13rem;
    }

    &__textbox{
        padding: 1.5rem;

        &>*{
            &:not(:last-child){
                padding-bottom: 0.7rem;
            }
        }
    }

}