.hero{
    text-align: center;
    position: relative;
    background-image: url(../../images/bg-intro-mobile.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $very-light-gray;
    height: min-content;
    width: 100vw;
    padding-bottom: 2rem;

    &__phones{
        width: 90vw;
        height: auto;
        z-index: 10;
    }

    &__textbox{
        padding: 0 2rem;
    }

}